@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700&display=swap");

$main-color: #f54747;
$border-color: #ececec;
$font-color_W: #efefef;
$font-color_G: #959595;

$my-font: "Noto Sans KR", sans-serif;

$size-1920-1px: 0.0521vw;

@keyframes fadeIn {
  from {
    opacity: 0;
    /* 시작 상태의 투명도 */
    transform: translateY(40px);
    /* 시작 상태의 위치 */
  }

  to {
    opacity: 1;
    /* 최종 상태의 투명도 */
    transform: translateY(5px);
    /* 최종 상태의 위치 */
  }
}

:root {
  --swiper-theme-color: #f54747;
  --swiper-pagination-color: #f54747;
}

body {
  padding-top: 120px;
  position: relative;
  height: 90%;
  font-family: "Noto Sans KR", sans-serif;

  .wrapper {
    width: 80%;
    margin: 0 auto;
  }

  button {
    cursor: pointer;
  }

  .main_text {
    text-align: center;
    font-weight: normal;
    font-size: 2.3438vw;
    margin-bottom: 56px;
    padding-top: 120 * $size-1920-1px;
    span {
      font-weight: bold;
    }
  }
}

header {
  #weather {
    display: flex;
    align-items: center;
    margin-bottom: 3 * $size-1920-1px;
    span {
      margin-right: 16 * $size-1920-1px;
      img {
        margin-top: 1 * $size-1920-1px;
        width: 40 * $size-1920-1px;
        height: 40 * $size-1920-1px;
      }
    }
  }
}

section.main_carousel {
  padding-top: 20px;
  .swiper {
    width: 96%;
    .swiper-wrapper {
      .swiper-slide {
        img {
          width: 100%;
          object-fit: contain;
        }
      }
    }
  }

  .slide_text {
    text-align: center;
    position: relative;
    bottom: 22vw;
    left: 0%;
    z-index: 100;

    opacity: 0;
    /* 초기에 투명도를 0으로 설정 */
    animation: fadeIn 2s forwards;
    /* fadeIn 애니메이션을 0.5초 동안 실행 */

    h4 {
      /* 1920px 기준 24px */
      font-size: 1.25vw;
      /* font-size: 24px; */
      font-weight: normal;
      color: #eee;
      margin-bottom: 1vw;
    }
    h2 {
      /* 1920px 기준 60px */
      font-size: 3.125vw;
      /* font-size: 60px; */
      font-weight: bold;
      color: #eee;
    }
  }

  .autoplay-progress {
    position: absolute;
    right: 1.0417vw;
    bottom: 1.1458vw;
    z-index: 10;
    width: 2.5vw;
    height: 2.5vw;
    min-width: 20px;
    min-height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 0.9vw;
    color: var(--swiper-theme-color);

    svg {
      --progress: 0;
      position: absolute;
      left: 0;
      top: 0px;
      z-index: 10;
      width: 100%;
      height: 100%;
      stroke-width: 6px;
      stroke: var(--swiper-theme-color);
      fill: rgba(0, 0, 0, 0.05);
      stroke-dashoffset: calc(125.6 * (1 - var(--progress)));
      stroke-dasharray: 125.6;
      transform: rotate(-90deg);
    }

    span {
      z-index: 100;
    }
  }
}

section.first_carousel {
  font-family: $my-font;
  height: 870 * $size-1920-1px;

  .main_text {
    padding-top: 0;
  }

  &.first_carousel {
    position: relative;

    > div.gray_section {
      position: absolute;
      top: 46%;
      width: 100%;
      height: 480 * $size-1920-1px;
      background: #ebefef;
      z-index: 0;
    }

    .swiper {
      width: 100%;
      height: 100%;
    }

    .swiper-slide {
      text-align: center;
      font-size: 18px;
      // background: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .swiper-slide img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .first_swiper .text_box {
      width: 27.0833vw;
      height: 18.2292vw;
      border: 2px solid $border-color;
      position: relative;
      left: 100px;
      background-color: #fff;

      border-radius: 10px;

      box-shadow: -2px -2px 5px 0px rgba(0, 0, 0, 0.1);
      overflow: hidden;

      .text_box_description {
        color: #7d7d7d;
        font-family: Noto Sans;
        font-size: 0.9375vw;
        font-style: normal;
        font-weight: 500;
        line-height: 1.5;

        text-align: left;

        margin-left: 2.0833vw;
        margin-right: 2.0833vw;
        margin-top: 1.25vw;
      }

      > div:nth-child(1) {
        display: flex;
        border-bottom: 2px solid $border-color;
        margin-left: 1.3021vw;
        margin-right: 1.3021vw;

        height: 5.3125vw;

        button {
          background-color: $main-color;
          border: none;
          border-radius: 20px;
          width: 3.6458vw;
          height: 1.5625vw;

          font-size: 0.8333vw;
          color: $font-color_W;

          margin-left: 2.3958vw;
          margin-top: 2.5vw;
        }

        > div {
          margin-top: 1.6667vw;
          margin-left: 0.7813vw;

          .text_box_main_text {
            font-size: 1.3542vw;
            font-weight: bold;
            text-align: left;
          }
          .text_box_location {
            display: flex;
            margin-top: 0.5vw;

            img {
              width: 0.7292vw;
              height: 1.0417vw;
              margin-right: 0.5vw;
            }

            p {
              color: $font-color_G;
              font-size: 0.8333vw;
            }
          }
        }
      }
    }

    .first_swiper img {
      width: 53.125vw;
      height: 30.2083vw;
    }
  }
  .swiper-button-lock {
    display: block;
  }

  .swiper_button {
    position: relative;
    left: 120 * $size-1920-1px;
    bottom: 70 * $size-1920-1px;
    .swiper-button-next,
    .swiper-button-prev {
      color: $font-color_G;
      position: absolute;
      z-index: 10;

      &.swiper-button-next {
        left: 50 * $size-1920-1px;
        &:after {
          font-size: 24 * $size-1920-1px;
        }
      }

      &.swiper-button-prev {
        &:after {
          font-size: 24 * $size-1920-1px;
        }
      }
    }
  }
}

section.second_carousel {
  height: 900 * $size-1920-1px;

  .wrapper {
    width: 80%;
  }

  .swiper-button-next,
  .swiper-button-prev {
    color: #fff;
    background-color: $main-color;
    border-radius: 50%;
    width: 60 * $size-1920-1px;
    height: 60 * $size-1920-1px;
    z-index: 100;
    top: 46%;

    &:after {
      font-size: 24 * $size-1920-1px;
    }
  }

  .swiper-button-lock {
    display: block;
  }

  .swiper-wrapper {
    .swiper-slide {
      // border: 1px solid red;
      height: 600 * $size-1920-1px;
      display: block;
      img {
        width: 300 * $size-1920-1px;
      }
      .festival_text {
        margin-top: -8 * $size-1920-1px;
        margin-left: 22 * $size-1920-1px;
        border-left: 1px solid #ccc;
        text-align: left;
        font-family: Noto Sans;

        height: 110 * $size-1920-1px;

        p:nth-child(1) {
          color: var(--sub-text, #7e7e7e);
          font-size: 16 * $size-1920-1px;
          font-weight: 500;
          margin-left: 20 * $size-1920-1px;
          padding-top: 25 * $size-1920-1px;
          line-height: 1.3;
        }

        p:nth-child(2) {
          color: var(--font-color, #333);
          font-family: Noto Sans;
          font-size: 24 * $size-1920-1px;
          font-weight: 600;

          margin-left: 20 * $size-1920-1px;
          margin-top: 44 * $size-1920-1px;
        }

        p:nth-child(3) {
          color: #2c3047;
          font-family: Noto Sans;
          font-size: 14 * $size-1920-1px;
          font-weight: 500;

          margin-left: 20 * $size-1920-1px;
          margin-top: 9 * $size-1920-1px;
        }
      }
      .festival_second_text {
        margin-top: -3 * $size-1920-1px;
        margin-left: 21 * $size-1920-1px;
        border-left: 1px solid #ccc;
        text-align: left;
        font-family: Noto Sans;

        height: 100 * $size-1920-1px;

        p:nth-child(1) {
          color: var(--sub-text, #7e7e7e);
          font-size: 16 * $size-1920-1px;
          font-weight: 500;
          margin-left: 20 * $size-1920-1px;
          padding-top: 20 * $size-1920-1px;
        }

        p:nth-child(2) {
          color: var(--sub-text, #7e7e7e);
          font-size: 16 * $size-1920-1px;
          font-weight: 500;
          margin-left: 20 * $size-1920-1px;

          margin-top: 5 * $size-1920-1px;
        }

        p:nth-child(3) {
          color: var(--font-color, #333);
          font-family: Noto Sans;
          font-size: 24 * $size-1920-1px;
          font-weight: 600;

          margin-left: 20 * $size-1920-1px;
          margin-top: 26 * $size-1920-1px;
        }

        p:nth-child(4) {
          color: #2c3047;
          font-family: Noto Sans;
          font-size: 14 * $size-1920-1px;
          font-weight: 500;

          margin-left: 20 * $size-1920-1px;
          margin-top: 9 * $size-1920-1px;
        }
      }
    }
  }
}

section.knowledge_in {
  background: #ebefef;
  height: 910 * $size-1920-1px;
  // padding-top: 151 * $size-1920-1px;
  .knowledge_title {
    text-align: center;
    .main_text {
      padding-top: 121 * $size-1920-1px;
      margin-bottom: 20 * $size-1920-1px;
    }
    p {
      color: var(--sub-text, #7e7e7e);
      font-size: 20 * $size-1920-1px;
      font-weight: 500;
      line-height: normal;
    }
    .knowledge_btns {
      margin-top: 55 * $size-1920-1px;
      button {
        font-size: 20 * $size-1920-1px;
        &:nth-child(1) {
          border-radius: 10px;
          background: $main-color;
          border: none;
          padding: 10 * $size-1920-1px 15 * $size-1920-1px;
          color: white;
          margin-right: 40 * $size-1920-1px;
        }
        &:nth-child(2) {
          border-radius: 10px;
          background: #28a342;
          border: none;
          padding: 10 * $size-1920-1px 15 * $size-1920-1px;
          color: white;
        }
      }
    }
  }

  .knowledge_notice {
    margin: 0 auto;

    margin-top: 85 * $size-1920-1px;
    margin-bottom: 119 * $size-1920-1px;
    width: 1440 * $size-1920-1px;
    // height: 370 * $size-1920-1px;
    border-radius: 50px;
    background: #fff;
    box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.25);

    h2 {
      margin-left: 70 * $size-1920-1px;
      padding-top: 59 * $size-1920-1px;
      text-align: left;
      font-size: 24 * $size-1920-1px;
      font-weight: 700;
    }
    .notice_items {
      margin-left: 57 * $size-1920-1px;
      margin-top: 34 * $size-1920-1px;
      display: flex;
      flex-wrap: wrap;
      padding-bottom: 24 * $size-1920-1px;

      > div {
        display: flex;
        margin-bottom: 30 * $size-1920-1px;
        img {
          width: 10 * $size-1920-1px;
          margin-left: 65 * $size-1920-1px;
          margin-right: 15 * $size-1920-1px;
        }
        p {
          font-size: 18 * $size-1920-1px;
          font-style: normal;
          font-weight: 400;
          color: var(--sub-text, #7e7e7e);

          &:nth-child(2) {
            width: 443 * $size-1920-1px;
            font-size: 18 * $size-1920-1px;
          }
          &:nth-child(3) {
            font-size: 16 * $size-1920-1px;
          }
        }
      }
    }
  }
}

section.sns_item {
  position: relative;
  z-index: 1;
  .main_text {
    padding-top: 142 * $size-1920-1px;
    margin-bottom: 79 * $size-1920-1px;
  }
  .sns_items {
    display: flex;
    justify-content: center;
    > div {
      position: relative;
      img {
        &:nth-child(1) {
          margin-left: 22 * $size-1920-1px;
          margin-right: 22 * $size-1920-1px;
          width: 450 * $size-1920-1px;
          height: 254 * $size-1920-1px;
          object-fit: cover;
        }
        &:nth-child(2) {
          // border: 1px solid red;
          position: absolute;
          left: 35px;
          bottom: 155px;
        }
      }
      a {
        color: black;
        text-decoration: none;
      }
      p {
        text-align: center;
        margin-top: 45 * $size-1920-1px;
        font-weight: 700;
        font-size: 24 * $size-1920-1px;
        margin-bottom: 110 * $size-1920-1px;
      }
    }
  }
  > div.gray_section {
    position: absolute;
    top: 55%;
    width: 100%;
    height: 350 * $size-1920-1px;
    background: #ebefef;
    z-index: -1;
  }
}
