@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700&display=swap");

$my-font: "Noto Sans KR", sans-serif;

$main-color: #f54747;
$border-color: #ececec;
$font-color_W: #efefef;
$font-color_G: #959595;

$size-1920-1px: 0.0521vw;
$size-768-1px: 0.1302vw;
$size-430-1px: 0.2326vw;

main {
  font-family: $my-font;

  padding-top: 90px;

  section.sns_banner {
    position: relative;

    .main_banner {
      margin-top: 42 * $size-1920-1px;
      margin-bottom: 55 * $size-1920-1px;
      width: 100%;
      height: 355 * $size-1920-1px;
    }

    .main_title {
      display: flex;
      position: absolute;
      bottom: 24%;

      img {
        width: 60 * $size-1920-1px;
        height: 48 * $size-1920-1px;
        margin-left: 62 * $size-1920-1px;
        margin-right: 24 * $size-1920-1px;
      }

      .map_title_text {
        p {
          margin-top: -4 * $size-1920-1px;
          &:first-child {
            color: #fff;
            font-size: 46 * $size-1920-1px;
            font-weight: 900;
          }
          &:last-child {
            color: #fff;
            font-size: 26 * $size-1920-1px;
            font-weight: 700;
            margin-top: 14 * $size-1920-1px;
          }
        }
      }
    }

    .line {
      width: 100%;
      height: 15 * $size-1920-1px;
      background-color: #eee;
    }
    .hashtag {
      display: flex;
      justify-content: center;
      gap: 10 * $size-1920-1px;

      position: relative;
      bottom: 1.9vw;

      button {
        padding: 10 * $size-1920-1px 20 * $size-1920-1px;
        border-radius: 30px;
        font-size: 24 * $size-1920-1px;
        background-color: #fff;
      }

      .tag-button.active {
        border-color: var(--border-color);
        color: var(--text-color);
      }

      /* 각 버튼별 컬러 설정 */
      .tag-button[data-tag="관광지"] {
        --border-color: #d35f85;
        --text-color: #d35f85;
      }

      .tag-button[data-tag="음식"] {
        --border-color: #f54747;
        --text-color: #f54747;
      }

      .tag-button[data-tag="쇼핑"] {
        --border-color: #9747ff;
        --text-color: #9747ff;
      }

      .tag-button[data-tag="숙박"] {
        --border-color: #28a342;
        --text-color: #28a342;
      }
    }
  }
}
